    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: white;
        color: #333;
    }

    header {
        background: red;
        color: white;
        text-align: center;
        display: inline;
    }

    .atas {
        position: relative;
        position: fixed;
        position: sticky;
    }

    .atas img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        filter: brightness(70%);
    }

    .atas-teks {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .atas-teks h1 {
        font-size: 2.5em;
        margin-top: 15px;
    }

    .navbar {
        background-color: rgb(250, 0, 0);
        padding: 5px;
        margin-top: -8px;
        width: 100%;
        position: fixed;
        position: sticky;
        top: 0;
        border-end-end-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .navbar ul {
        text-align: center;
        padding: 10px;
    }

    .navbar li {
        display:inline;
        list-style-type: none;
        margin: 15px;
    }

    .navbar a{
        color: white;
        text-decoration: none;
        margin:  0 18px;
        padding: 14px;
        font-weight: bold;
    
    }

    .navbar a :hover {
        text-decoration: underline;
    }

    main {
        padding: -50px;
        max-width: 5100px;
        margin: 50px;

    }

    .content-luar {
        display: flex;
        gap: 20px;
    }

    .content-utama {
        flex: 3;
    }


    article {
        margin-bottom: 35px;
        scroll-margin-top: 50px;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        padding: 35px;
        box-shadow: 0 2px 5px rgb(0, 0, 1);
        margin-top: 15px;
    }

    .profile-img {
        width: 40%;
        border-radius: 10px;
        margin-top: 10px;
    }

    .label {
        font-weight: bold;
    }

    .sidebar {
        flex: 1;
        max-width: 100%;
        height: 100px;
        display: block;
        margin: 39px auto;

        text-align: center;
    }

    aside  {
        max-width: 150px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .foto-me {
        width: 75%;
        border-radius: 10px;
    box-shadow: black;
    }

    footer {
        text-align: center;
        background-color: rgb(255, 0, 0);
        color: white;
        padding: 20px;
        margin-top: 40px;
    }

    @media screen and (max-width: 100%) {
    aside img {
        max-width: 500px;
    }
    }

    @media screen and (max-width: 768px) {
    .content-luar {
        flex-direction: column;
    }
    }
